#Install with pip

Django
asgiref==3.4.1 
autopep8==1.6.0
django-js-asset==1.2.2
django-mptt==0.13.4
django-six==1.0.4
Pillow==8.4.0
pycodestyle==2.8.0
pytz==2021.3 
six==1.16.0
sqlparse==0.4.2
toml==0.10.2

#Links

https://www.djangoproject.com/
https://pypi.org/project/asgiref/
https://pypi.org/project/autopep8/
https://pypi.org/project/django-js-asset/
https://pypi.org/project/django-mptt/
https://pypi.org/project/django-six/
https://pypi.org/project/Pillow/
https://pypi.org/project/pycodestyle/
https://pypi.org/project/pytz/
https://pypi.org/project/six/
https://pypi.org/project/sqlparse/
https://pypi.org/project/toml/

