{% extends "../base/base.html" %}
{%load static %}
{% block title %}About{% endblock %}
{% block content %}
{% include "base/nav-main.html" %}


<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Contact us:</h1>
    {% for i in com %}
    <p class="lead ">{{i.email}}</p>   
    <p class="lead ">{{i.phone}}</p>
    <p class="lead ">{{i.address}}</p>
    <p class="lead ">{{i.city}}</p>
    {% endfor %}
  </div>
</div>
{% include "base/footer.html" %}
{% endblock %}